@import "tailwindcss";


@keyframes fall {
  from {
    transform: translateY(0) rotate(0deg);
  }

  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}